html {
    font-family: Roboto, Helvetica Neue, Arial, sans-serif;
    font-size: 14px;

    color: rgba(0, 0, 0, .87);
    background-color: #ffffff;
}

input, button {
    border: none;
    outline: none;
    background: none;
}

*, *:after, *:before {
    box-sizing: border-box;
}
