@import 'normalize.css';
@import './fonts.css';

html {
    background-color: #fefefe;

    font-family: Roboto, Helvetica Neue, sans-serif;
    font-size: 14px;
}

input, button {
    outline: none;
}

html {
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}