.message {
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 2px;
}

.message[data-side="left"] {
    color: white;
    background-color: #5bcb15;
    align-self: flex-start;
}

.message[data-side="right"] {
    color: white;
    background-color: #c20000;
    align-self: flex-end;
}

.message span {
    word-break: break-all;
}