.message {
    display: block;
    padding: 8px;
    margin: 4px 0;
    border-radius: 2px;
    word-break: break-all;
}

.left {
    color: white;
    background-color: #5dc41c;
    align-self: flex-start;
}

.right {
    color: white;
    background-color: #bc0606;
    align-self: flex-end;
}