.container {
    display: block;
}

.container[data-side="left"] {
    color: white;
    background-color: blue;
    align-self: flex-start;
}

.container[data-side="right"] {
    color: white;
    background-color: red;
    align-self: flex-end;
}