.message {
    display: block;
    padding: 16px;
    border-radius: 2px;
    background-color: #eee;
    margin-top: 4px;
    margin-bottom: 4px;
    max-width: 360px;
    max-height: 360px;
}

.left {
    margin-right: 16px;
    align-self: flex-start;
}

.right {
    margin-left: 16px;
    align-self: flex-end;
}