.button {
    height: 40px;
    padding: 0px 8px;    

    font-weight: 500;
    text-transform: uppercase;

    cursor: pointer;
    
    border-radius: 4px;
}

.button.primary {
    color: #fff;
    background-color: #ff9900;
}

.button[disabled] {
    color: rgba(0, 0, 0, .54);
}