.form {
    display: flex;
    margin: 0;
}

.input {
    height: 36px;
    padding: 0 8px;
    margin: 0 8px;
    flex: auto;
    background-color: #eee;
    border: none;
    border-radius: 2px;
}

.input:focus {
    background-color: #ddd;
}
