.input {
    width: 100%;
    height: 36px;
    padding: 0 8px;
    margin: 0 8px;
    background-color: #fefefe;
    min-width: 0;
    border: 2px solid rgba(0, 0, 0, .45);
    border-radius: 2px;
}

.input:focus {
    border: 2px solid #ec1313;
}